<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <div class="contenedor01">
        <h2>Soy el contenedor01</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi vitae culpa nam fugit unde similique, totam quidem nisi, adipisci corporis, eius quo quas repellat. Odit dolorum voluptatum sapiente aut illum!</p>
    </div>
    <div class="contenedor02">
        <h2>Soy el contenedor02</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi vitae culpa nam fugit unde similique, totam quidem nisi, adipisci corporis, eius quo quas repellat. Odit dolorum voluptatum sapiente aut illum!</p>
    </div>
</body>
</html>