<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <h4>soy un texto chiquitito</h4>
    <img src="/public/images/descarga.jpeg" alt="hola">
    <strong>otro texto en negrilla</strong>
    <h1>El titulo de mi proyecto</h1>
    <h2>Un subtitulo cualquiera del proyecto</h2>
    <p>Lorem ipsum dolor <strong>esto es un texto en negrilla</strong> sit amet, <em>soy un texto en cursiva</em> adipisicing elit. Dolore dolorem, harum ipsam natus repellendus necessitatibus nisi quidem esse voluptatibus aperiam repellat quos error omnis nesciunt consectetur quod a distinctio ea.</p>
<ol></ol>
    <li>item1</li>
    <li>item2</li>
<ul>
    <li>Item1</li>
    <li>Iteam2</li>

</ul>
</body>
</html>