<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer proyecto en HTML</title>
</head>
<body>
    <img src="/public/images/FWNmgjdWIAEkxVD.jpg" alt="">
    <h4>soy un texto chiquitito</h4>
    <h1>El titulo de mi proyecto</h1>
    <h2>Un subtitulo cualquiera del proyecto</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore dolorem, harum ipsam natus repellendus necessitatibus nisi quidem esse voluptatibus aperiam repellat quos error omnis nesciunt consectetur quod a distinctio ea.</p>
<ol></ol>
    <li>item1</li>
    <li>item2</li>
<ul>
    <li>Item1</li>
    <li>Iteam2</li>

</ul>
</body>
</html>